[pandadb]
login: %TEIGI__pandadb__login__%
password: %TEIGI__pandadb__password__%
description: %TEIGI__pandadb__description__%
[logstash]
auth: %TEIGI__logstash__login__%,%TEIGI__pandadb__password__%
url: aipanda009.cern.ch
port: 31311
[othersettings]
disks: cephfs,data,data1,data2
processes: condor_schedd,condor_collector,condor_negotiator