[pandadb]
login: %TEIGI__pandadb_login__%
password: %TEIGI__pandadb_password__%
description: %TEIGI__pandadb_description__%
[logstash]
auth: %TEIGI__logstash_login__%,%TEIGI__logstash_password__%
url: aipanda110.cern.ch
port: 31311
[othersettings]
disks: cephfs,data,data2,var
processes: condor_schedd,condor_collector
